/* * {
  border: 1px solid red;
} */

html,
body {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Molengo, sans-serif;
}

.container {
  display: grid;
  height: 100vh;
}

/* Row-Column Example */
.item {
  outline: 1px solid black;
}

.row-column {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 5em 1fr 5em;
}

.row-column .item:nth-child(2n) {
  background-color: rgba(0, 255, 0, 0.5);
}

.row-column .item:nth-child(2n + 1) {
  background-color: rgba(202, 96, 96, 0.5);
}

/* Area Example */

.areas > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.areas {
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas: "header header" "sidebar main" "footer footer";
}

.header {
  background-color: cadetblue;
  grid-area: header;
  padding: 1em 0;
}

.sidebar {
  background-color: darksalmon;
  grid-area: sidebar;
}

.main {
  background-color: wheat;
  grid-area: main;
}

.footer {
  background-color: mistyrose;
  grid-area: footer;
  padding: 2em 0;
}

.hidden {
  display: none;
}

@media (max-width: 60em) {
  .areas {
    grid-template-areas: "header header" "main main" "sidebar sidebar"
      "footer footer";
  }
}

/* Form Example */

.user-buttons > button {
  background-color: darkred;
  color: #fff;
  border: 1px solid grey;
  padding: 0.5em 1.25em;
  border-radius: 5px;
}

input[type="text"] {
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 5px;
  border: 0.5px solid grey;
}

.form {
  width: 51.75em;
  height: 28.125em;
  border: 2px solid black;
  grid-template-columns: 5em 1fr 1fr;
  grid-template-rows: 2em 1fr 1fr 1fr 1fr 2em;
  grid-template-areas: ". . ." "field-label1 input-field1 department"
    "field-label2 input-field2 department"
    "field-label3 input-field3 department" ". buttons buttons" ". . .";
}

.field-label1 {
  grid-area: field-label1;
  grid-column: 1;
  grid-row: 2;
}

.field-label2 {
  grid-area: field-label2;
  grid-column: 1;
  grid-row: 3;
}

.field-label3 {
  grid-area: field-label3;
  grid-column: 1;
  grid-row: 4;
}
.field-label {
  align-self: center;
  justify-self: end;
}

.input-field1 {
  grid-area: input-field1;
}

.input-field2 {
  grid-area: input-field2;
}

.input-field3 {
  grid-area: input-field3;
}

.input-field {
  align-self: center;
  justify-self: center;
  width: 10em;
}

.department {
  grid-area: department;
}

.department ul {
  border: 1px solid black;
  width: 20em;
  list-style-position: inside;
  padding-left: 0;
}

.department li {
  list-style-type: none;
}

.buttons {
  grid-column: 5;
  grid-row: 2/span 2;
  grid-area: buttons;
  align-self: center;
  justify-self: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.buttons button {
  width: 7em;
  padding: 0.5em;
  border-radius: 20%;
  color: #ffffff;
  text-shadow: 2px 2px 2px #002c9a;
  background-color: #75adff;
}
